body {
    font-family: Arial, sans-serif;
    background: #ececec;
}

.facture-container {
    border-radius: 10%;
    background: white;
}

.facture-line {
    display: flex;
    flex-direction: row;
}

.display-flex-column {
    display: flex;
    flex-direction: column;
    padding: unset;
}

.display-flex-row {
    display: flex;
    flex-direction: row;
    padding: unset;
}